h1{

  font-family: verdana;
  color:blue;
  Hello
}

 h2{
  font-family: verdana;
  color:blue;
   Hello
}

p{
 font-family: verdana;
  Hello
}

body {
    background-color: #009999;
  Hello
}

<h1><link rel="stylessheet" href="/style.css" /></h1>
<h2></h2>
<body></body>
<a href="
